
.box{
    width:100px;
    height:100px;
}
.red{
   background-color: red;
   border: 10px solid black;
   padding: 50px;
}
.green{
    background-color  : green;
    margin-top: 50px;
    margin-left: 10px;
    padding-top: 50px;
}

h1{
     color:aliceblue;
}

.span{
    color:aliceblue;
}

.frame{
     width: 500px;
     height: 300px;
}

.wrapper{
    width: 60%;
    margin:0, auto;
    border: 5px solid #ddd;
}

.first_name, .last name, .email, .password {
    width: 90%;
    height: 20px;
    padding: 10px;
    font-size: 18px;

}